/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --highlighted-text: #353430;
  --text-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
  --font-family: "IBM Plex Mono", "Courier New", monospace;
  --menu-color: #353430;
  --title-shadow: #FF8DCB;
  --decor-color: #353430;
  --rec-color: transparent;
  --section-title: #353430;
  --bckgr-color: #FFF1F7;
  --menu-hover: rgba(50, 49, 45, 0.40);
}

@media (width >= 1024px) {
  .page.theme_light {
    --title-shadow: #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --highlighted-text: #353430;
    --text-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
    --font-family: "IBM Plex Mono", "Courier New", monospace;
    --menu-color: #353430;
    --title-shadow: #FF8DCB;
    --decor-color: #353430;
    --rec-color: transparent;
    --section-title: #353430;
    --bckgr-color: #FFF1F7;
    --menu-hover: rgba(50, 49, 45, 0.40);
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  :root {
    --title-shadow: #FF0070;
  }
}
